<form class="content body-class" id="form-wrapper" [formGroup]="loginForm">
    <div style="text-align: center;"><h1>LOGIN</h1></div>
    <div style="text-align: center;color: red;"> <div *ngIf="isLoading" class="loader"></div> {{message}}</div>
    
    <div class="mar" >
        <label for="email"><b>User Email</b></label>
        <input type="text" formControlName="username" maxlength="256">
        <div
            *ngIf="loginForm.get('username').errors && submitted || loginForm.get('username').touched || loginForm.get('username').dirty">
            <div *ngIf="loginForm.get('username').hasError('required')" style="color: red">User Name is required.</div>
        </div>
    </div>
    <div class="mar" >
        <label for="email"><b>Password</b></label>
        <input type="password" maxlength="18" formControlName="password">
        <div
            *ngIf="loginForm.get('password').errors && submitted || loginForm.get('password').touched || loginForm.get('password').dirty">
            <div *ngIf="loginForm.get('password').hasError('required')" style="color: red">Password is required.</div>
            <div *ngIf="loginForm.get('password').hasError('pattern') || loginForm.get('password').hasError('minlength')"
                style="color: red">Password must be at least 6 characters.</div>
        </div>
    </div>
    
    <div class="">
        <div class="submit-button">
            <button type="submit" class="registerbtn" (click)="onSubmitForm()">Login</button>
        </div>
    </div>
</form>