<form class="content body-class" id="form-wrapper" [formGroup]="otpForm">
    <div style="text-align: center;"><h1>Verification</h1></div>
    <div style="text-align: center;color: red;"> <div *ngIf="isLoading" class="loader"></div> {{message}}</div>
    
    <div class="mar" >
        <label for="email"><b>Enter Otp</b></label>
        <input type="text" formControlName="otp" maxlength="256">
        <div
            *ngIf="otpForm.get('otp').errors && submitted || otpForm.get('otp').touched || otpForm.get('otp').dirty">
            <div *ngIf="otpForm.get('otp').hasError('required')" style="color: red">Otp is required.</div>
        </div>
    </div>
    
    <div class="">
        <div class="submit-button">
            <button type="submit" class="registerbtn" (click)="onSubmitForm()">Login</button>
        </div>
    </div>
</form>