
  .container {
    padding: 16px;
    text-align: center;
}
:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    height: 60px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: #28a745;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

  .content {
    padding: 3% 6% 0% 5%;    /* max-width: 96%; */
    flex-direction: column;
    align-items: center;
}

 

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 16px;
  }

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(black, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  

  

  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container > *:not(.circle-link) ,
    
    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

   
  }
  * {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password],select,option {
  width: 100%;
  padding: 5px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  margin: 3px;
}
.mar{
    margin: 5px 0 22px 0;
    padding: 5px;
    width: 200px;
    min-width: 100px;
    max-width: 200px;
}

input[type=text]:focus, input[type=password]:focus,select:focus,option:focus {
    border: 1px solid #3084d7;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}
.submit-button{
    display: flex;
    justify-content: space-between;
}
.course-det{
    border: 1px solid #3084d7;
    padding: 3% 4% 7% 4%;
    margin: 1% 0% 2% 0%;
}
.delete-button{
    background-color: red;
    color: white;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    margin-right: 10px;
}
.select-in{
    display: flex;
    justify-content: space-between;
}
.select-input-size{
    width: 45%;
}
.add-more-but{
    float: right;
    margin-right: 25%;
}
.course-d{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-s{
    width: 75%;
}
.terms-cl{
  display: flex;
  align-items: center;
}
.modal-header {
  margin: auto;
}
.modal-footer {
  margin: auto;
}
.registerbtn {
  background-color: #28a745;
  color: white;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  margin: 1% 25% 1% 25%;
}
a {
  color: #e21e31;
}
