<form class="content body-class" id="form-wrapper">
    <div style="text-align: center;">
        <h1>Home</h1>
    </div>
    <div style="text-align: center;color: red;">
        <div *ngIf="isLoading" class="loader"></div> {{message}}
    </div>

    <form [formGroup]="listForm">
        <div formArrayName="arrayList">
            <div *ngFor="let x of listForm.controls.arrayList['controls']; let i = index" formGroupName="{{i}}">
                <h3> <input type="text" formControlName="title" style="background: red;" readonly> </h3>
                <div formArrayName="list" >
                    <div  *ngFor="let y of x['controls'].list['controls']; let iy=index"
                        formGroupName="{{iy}}">
                        <div formArrayName="listing" style="display: flex;">
                            <div class="mar" *ngFor="let z of y['controls'].listing['controls']; let iyz=index"
                            formGroupName="{{iyz}}">
                            <input type="text" formControlName="name" readonly>
    
                            <input type="text" formControlName="value">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="">
        <div class="submit-button">
            <button type="submit" class="registerbtn" (click)="updateList()">Update</button>
        </div>
    </div>
</form>